/*Theme colors*/
$primary: black;
$secondary: #0f6b89;
$error: #d32752;
$header: #e3740d;
$otherColor: hwb(16 35% 20%);
$backgroundNavColor: hsla(0, 0%, 96%, 0.677);
$mainBackgroundColor: hwb(0 33% 67% / 0.259);

/*spacing*/
$base-padding: 1.90rem;
$base-margin: 0.75rem;

/*borders*/
$base-border-thickness: 1px;
$base-border-radius: 20px;
$base-border: 10px solid black;



